/* Slider styles */
			#example {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
			}
			#example .frame {
				width: 100%;
				height: 100%;

				-webkit-perspective: 1000px;
				-ms-perspective: 1000px;
				perspective: 1000px;

				-webkit-perspective-origin: 50% 50%;
				-ms-perspective-origin: 50% 50%;
				perspective-origin: 50% 50%;
			}
			#example .frame .slide_element {
				height: 100%;

				-webkit-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			#example .frame .slide_element > div {
				float: left;
				height: 100%;
			}
			#example .frame .mSCover img {
				max-width: none;
			}

			/* Animated layers styles */
			.centralize {
				left: 50%;
				top: 50%;

				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
			.centralizeX {
				left: 50%;

				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			.centralizeY {
				top: 50%;

				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			#example .frame .slide_2 .mSCaption,
			#example .frame .slide_3 .mSCaption,
			#example .frame .slide_4 .mSCaption {
				
                right: 260px;
                left: 20%;
                text-align: center;
				color: rgba(255, 255, 255, 0);
				text-shadow: 0 0 20px rgba(255, 255, 255, 0);
				cursor: default;
			}
			#example .frame .paper_h {
				font-size: 64px;
				font-weight: 500;
			}
			#example .frame .paper_p {
				font-size: 34px;
				font-weight: 300;
				line-height: 40px;
			}
			#example .frame .slide_1 .mSVideo {
				display: none !important;
			}
			#example .frame .slide_1 .paper_intro {
				position: absolute;
				left: 80px;
				color: #FFF;
			}
			#example .frame .slide_1 .paper_p {
				font-size: 37px;
                line-height: 26px;
				margin-top: 12px;
			}
			#example .hover {
				bottom: 20px;
				right: auto;
				left: 20px;
				padding: 4px 6px;
				border-radius: 5px;
				line-height: normal;
			}
			.paper_watchImage,
			.paper_downloadImage {
				width: 35px;
				height: 35px;
			}
			.paper_watchNow {
				margin-bottom: 30px;
			}
			.paper_watchImage, .paper_watch {
				display: inline-block;
				vertical-align: middle;
				margin-top: 30px;
			}
			.paper_watch {
				padding: 20px;
				padding-left: 60px;
				margin-left: -50px;
				font-size: 26px;
				font-weight: 200;
				line-height: 1;
				color: #fff;
				cursor: pointer;
			}
			.paper_download {
				display: block;
				margin-top: 90px;
				margin-bottom: -135px;
			}
			.paper_downloadText {
				font-size: 26px;
				font-weight: 200;
				line-height: 1;
				color: #fff;
				padding-left: 10px;
			}
			.paper_downloadImage, .paper_downloadText {
				display: inline-block;
				vertical-align: middle;
			}
			.mSClose {
				top: 80px !important;
			}
			.isTouch .mSClose {
				top: auto !important;
			}


			/* Responsive Improvements */
			@media (max-width: 767px) {
				#example .frame .mSSlide:not(.slide_1) .paper_h {
					font-size: 28px;
				}
				#example .frame .mSSlide:not(.slide_1) .paper_p {
					font-size: 16px;
					line-height: 22px;
					margin-top: 8px;
				}
				.paper_intro {
					left: 40px;
					-webkit-transform-origin: 0 0;
					transform-origin: 0 0;
					-webkit-transform: scale(0.6) translateY(-50%);
							transform: scale(0.6) translateY(-50%);
				}
			}